.yui-calendar .calnavright, 
.yui-calendar .calnavleft {
	z-index: inherit !important;
}

/* меню (День, Неделя...)*/
.aw-calendar .calwidget .nav {
	width: 100%;
}
.aw-calendar .calwidget .nav td.td50 {
	width: 50%;
}
.aw-calendar .calwidget .nav .loading {
	margin-left: 5px;
	margin-top: 3px;
}

.aw-calendar .calwidget ul.menu {
	float: right;
}
.aw-calendar .calwidget ul.menu li {
	float: left;
	margin-left: 5px;
}

.aw-calendar .calwidget .nav .t1,
.aw-calendar .calwidget .nav .t2 {
	font-size: 1px;
	height: 1px;
	line-height: 1px;
	overflow: hidden;
	background: rgb(232, 238, 247) none repeat scroll 0% 0%; 
	-moz-background-clip: border; 
	-moz-background-origin: padding; 
	-moz-background-inline-policy: continuous;
}
.aw-calendar .calwidget .nav .t1 {
	margin: 0 2px;
}
.aw-calendar .calwidget .nav .t2 {
	margin: 0 1px;
}

.aw-calendar .calwidget .nav .mon {
	font-size: 13px;
	font-family: Arial, sans-serif;
	color: #000;
	background: #c3d9ff;
	font-weight: bold;
	padding: 4px 5px 3px
}
.aw-calendar .calwidget .nav .moff {
	cursor: pointer;
	font-size: 13px;
	font-family: Arial, sans-serif;
	color: #20c;
	background: #e8eef7;
	font-weight: normal;
	padding: 4px 5px 3px 5px
}
